<div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center pr-1 justify-content-between">
                            <h5 class="card-title">Список категории</h5>
                            {{#if control }}
                                <a href="/category/create" class="btn btn-success mr-1">Добавить</a>

                            {{/if}}
                        </div>
                        <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                        <tr>
                          <th scope="col">№</th>
                          <th scope="col">Название</th>
                          <th scope="col">Сарлавхаси</th>
                          <th scope="col">Статус</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                          {{#each category}}
                        <tr>
                            <td>{{index}}</td>
                            <td>{{title}}</td>
                            <td>{{title_uz}}</td>
                            <td>
                                <span class="badge {{statusClass}}">{{status}}</span>
                            </td>
                            <td class="text-right">
                                <a href="/category/edit/{{_id}}" class="btn btn-warning">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="/category/delete/{{_id}}" onclick="return confirm('Вы уверены?')" class="btn
                                btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                      </tbody>
                      </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
