<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <form action="/users/editsales" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" name="_id" value="{{sale._id}}">
                    <input type="hidden" name="user" value="{{sale.user}}">
                    <div class="row">   
                        <div class="col-8">
                            <div class="mb-3 form-floating">
                                <select class="form-select editable" data-value={{sale.product}} name="product" id="product" aria-label="Product" required>
                                    <option selected disabled value="">Выберите из списка</option>
                                    {{#each products}}
                                    <option value="{{_id}}">{{title}} | {{pack}} пачка. {{count}} шт. </option>
                                    {{/each}}
                                </select>
                                <div class="invalid-feedback">
                                    Выберите из списка
                                </div>
                                <label for="product">Список товаров</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3 form-floating">
                                <input type="number" name="price" class="form-control" id="price" placeholder="Стоимость" value={{sale.price}}>
                                <label for="price">Стоимость</label>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>