<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Новый пользователь</h5>
                <p class="card-description">Запольните поля</p>
                <form action="/users/save" method="post" >
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <input type="hidden" name="_id" value="{{user._id}}">
                    <div class="row">
                        <div class="col-3">
                            <div class="mb-3 form-floating">
                                <input type="text" name="name" value="{{user.name}}" class="form-control" id="floatingInput1" placeholder="Имя">
                                <label for="floatingInput1">Имя</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3 form-floating">
                                <input type="number" name="phone" value="{{user.phone}}" class="form-control" id="floatingInput2" placeholder="Номер телефона">
                                <label for="floatingInput2">Номер телефона</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3 form-floating">
                                <select class="form-select editable" name="role" data-value="{{user.role}}" id="floatingSelect" aria-label="Floating label select example">
                                    <option selected="">Выберите из списка</option>
                                    <option value="1">Ритейлер</option>
                                    <option value="2">Новый ритейлер</option>
                                    <option value="3">Отключенный</option>
                                </select>
                                <label for="floatingSelect">Доступ пользователя</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="mb-3 form-floating">
                                <input type="password" name="password" class="form-control" id="floatingInput2" placeholder="Паоль для входа">
                                <label for="floatingInput2">Новый пароль для входа</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>


